<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PRN392_Project">
        <activity android:name=".MainActivity"
            android:exported="false"/>
        <activity android:name=".RegisterActivity"
            android:exported="false"/>
        <activity
            android:name=".ArtistDashboardActivity"
            android:label="Bảng điều khiển Nghệ sĩ"
            android:exported="false"/>
        <activity
            android:name=".ManageProfileActivity"
            android:label="Quản lý Hồ sơ"
            android:exported="false"/>
        <activity
            android:name=".ManageBookingsActivity"
            android:label="Quản lý Yêu cầu"
            android:exported="false"/>
        <activity
            android:name=".ManageAvailabilityActivity"
            android:label="Quản lý Lịch rảnh"
            android:exported="false"/>
        <activity
            android:name=".ViewReviewsActivity"
            android:label="Đánh giá của tôi"
            android:exported="false"/>
        <activity
            android:name=".CustomerHomeActivity"
            android:label="Trang chủ"
            android:exported="false"/>
        <activity
            android:name=".ArtistDetailActivity"
            android:label="Chi tiết Nghệ sĩ"
            android:exported="false"/>
        <activity
            android:name=".CreateBookingActivity"
            android:label="Đặt lịch"
            android:exported="false"/>
        <activity
            android:name=".CustomerBookingsActivity"
            android:label="Lịch đặt của tôi"
            android:exported="false"/>
        <activity
            android:name=".AddReviewActivity"
            android:label="Viết đánh giá"
            android:exported="false"/>
        <activity
            android:name=".CustomerProfileActivity"
            android:label="Hồ sơ của tôi"
            android:exported="false"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>